/* Colors #############################################################################*/

:root {
    --color-light: #FDF0D5; /* Red */
    --color-dark: #331832; /* Red */
    --color-dark-50alpha: #33183278; /* Red */
    --color-accent-1: #D81E5B; /* Red */
}

/* Fonts #############################################################################*/

/* Fontfaces ====================================================*/

@font-face {
    font-family: 'hindi_body';
    src: url('fonts/Kokila.ttf') format('truetype');
}
@font-face {
    font-family: 'japanese_body';
    src: url('fonts/msmincho.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'urdu_body';
    src: url('fonts/Jameel.ttf') format('truetype');
}

/* English --------------------------------------------------------*/
@font-face {
    font-family: 'english_body';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'english_h1_';
    src: url('fonts/helvetica/HelveticaNeueLight.otf') format('opentype');
}

@font-face {
    font-family: 'english_h1_';
    src: url('fonts/TypoGraphica_demo.otf') format('opentype');
}

@font-face {
    font-family: 'english_h1';
    src: url('fonts/castellar.ttf') format('truetype');
}

/* Body Fonts ===================================================*/
/* Style for the Hindi text -------------------------------------*/
.hindi_body {
    font-family: "hindi_body", sans-serif;
    font-size: 30px;
}
.hindi_text {
    font-family: "hindi_body", sans-serif;
    font-size: 23px;
}

/* Style for the Japanese text ----------------------------------*/
.japanese_body {
    font-family: "japanese_body", sans-serif;
    font-size: 20px;
}

/* Style for the Urdu text -------------------------------------*/
.urdu_body {
    font-family: "urdu_body", sans-serif;
    font-size: 25px;
}

/* Style for the English text ----------------------------------*/
.english_body {
    font-family: "english_body", sans-serif;
}

/* Main UI #############################################################################*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-light);
    color: var(--color-dark);
}

header {
    background: linear-gradient(to bottom, var(--color-dark), var(--color-dark));
    padding: 15px 0;
    margin-bottom: -50px; /* You can adjust this value to control the space between the header and the content */
    color: #fff;
}

.wrapper-main {
    width: clamp(300px,100%,1000px);
    margin: 0 auto;
}

/*Main Navbar*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: var(--color-light);
    font-weight: bold;
    font-size: clamp(10px, 3vw, 18px);
}

.content {
    padding: 20px;
}

nav a.active {
    background-color: var(--color-light);
    color: var(--color-dark);
    box-shadow: 0px 2px 4px var(--color-accent-1);
    padding: 1px 4px;
    /*font-size: var(--active-font-size);*/
    transition: background-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease, font-size 0.5s ease;
}

/* navbar highlight */
.navbar-button {
    border: 1px solid var(--color-light);
    border-radius: 5px;
    padding: 2px 5px;
}

nav .nav-link a,
nav .nav-link.active a {
    background-color: var(--color-light);
    color: var(--color-dark);
    box-shadow: 0px 2px 4px var(--color-accent-1);
    padding: 2px 5px;
    border-radius: 5px;
    /*font-size: var(--active-font-size);*/
    transition: background-color 0.5s ease, box-shadow 0.5s ease, color 0.5s ease, font-size 0.5s ease;
}

footer {
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 8px;
    text-align: center;
    width: 98%;
    margin-bottom: 0px;
    font-family: 'english_body';
    border-radius: 10px;
    box-shadow: 0 0 8px var(--color-accent-1);
}


/* Headings #############################################################################*/

h1 {
    font-family: 'english_h1', Arial, sans-serif;
    text-align: center;
    padding: 8px;
    margin-bottom: 10px;
    margin-left: 0;
    color: var(--color-dark);
    display: block;
    font-size: clamp(10px, 8vw, 36px);
    font-weight: normal;
}
@media (max-width: 768px) {
    h1 {
        font-size: 21px; /* Adjust the font size for smaller screens */
        margin-top: 50px; /* Add margin to move the h1 down on smaller screens */
    }
}

h2 {
    font-family: 'english_h1', Arial, sans-serif;
    font-weight: normal; /* Set font weight to normal */
    padding: 4px;
    padding-bottom: 4px;
    margin-bottom: 0px;
    background: linear-gradient(to bottom, var(--color-dark), var(--color-dark));
    color: var(--color-light);
    display: block;
    text-align: center;
    font-size: clamp(20px, 4vw, 30px);
}
h3 {
    font-family: 'english_body', Arial, sans-serif;
}
h4 {
    font-family: 'english_body', Arial, sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
}

/*Index Page##################################################################################*/
/* Style for the main photo ------------------------------------------------------------------*/
.main_photo img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}
/* Bio Paragraph -----------------------------------------------------------------------------*/
.bio-paragraph {
    /* Set wide margins for larger screens */
    margin: 0 auto; /* This centers the content */
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 800px; /* Adjust the maximum width as needed */
    border: 2px solid var(--color-accent-1); /* Add a 2px solid border with a light gray color */
    border-radius: 10px; /* Add border-radius for rounded corners */
    padding: 10px;
    font-size: 18px;
    
}

/* Media query for smaller screens (e.g., phones) */
@media (max-width: 600px) {
    .bio-paragraph {
        margin: 0; /* Remove margins for smaller screens */
        max-width: 100%; /* Use 100% width on smaller screens */
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
    }
}
/*FEATURED Youtube Videos---------------------------------------------------------------------*/
.video-gallery-container {
    width: 100%;
    background: var(--color-dark);
    padding: 8px 0 0 0;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-accent-1);
}
.video-gallery-container,
.video-gallery-container * {
    box-sizing: border-box;
    border-radius: 9px;
}

.video-gallery-container h2.title {
    text-align: center;
    margin-bottom: 24px;
}
.video-gallery-container .video-gallery {
    display: flex;
    background: var(--color-dark);
    justify-content: center;
    padding: 16px;
    padding-top: 24px;
    gap: 24px;
    color: var(--color-light);
}
.video-gallery h3.video-title {
    text-align: center;
    width: 100%;
}

.video-gallery .thumbnail {
    height: 120px;
    cursor: pointer;
}
.video-gallery .video{
    position: relative;
}
.video-gallery .video:hover .play-icon{
    opacity: 1;
}
.video-gallery .play-icon {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease;
}
.video-gallery .video .play-icon img {
    height: 50px;
    width: 50px;
}
.video-gallery .all-videos {
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.video-gallery .responsive-iframe {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
    padding-bottom: 30px;
}
.video-gallery .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 900px){
    .video-gallery-container {
        width: 100%;
    }
}
@media (max-width:700px){
    .video-gallery-container .video-gallery {
        flex-direction: column;
    }
    .video-gallery .all-videos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* this sets up how many videos in a grid once you've flexed */
    }
    .video-gallery .thumbnail {
        height: unset;
        width: 100%;
        
    }
}

@media (max-width: 500px) {
    .video-gallery .all-videos{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .video-gallery-container {
        max-width: 400px;
    }
    .video-gallery-container h2.title {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
}

/*Greeting Scroller--------------------------------------------------------------------------*/
.scroller {
    max-width: 100%;
    margin: 0 auto; /* Center the scroller horizontally */
  }
  
  .scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 7%,
      white 93%,
      transparent
      );
    mask: linear-gradient(
        90deg,
        transparent,
        white 7%, 
        white 93%, 
        transparent
        );
  }
  
  .scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s)
      var(--_animation-direction, forwards) linear infinite;
  }
  
  .scroller[data-direction="right"] {
    --_animation-direction: reverse;
  }
  
  .scroller[data-direction="left"] {
    --_animation-direction: forwards;
  }
  
  .scroller[data-speed="fast"] {
    --_animation-duration: 20s;
  }
  
  .scroller[data-speed="slow"] {
    --_animation-duration: 60s;
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
  
  .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
  }
  
  .tag-list li {
    padding: 0.57rem;
    background: var(--color-dark);
    color: var(--color-light);
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--color-accent-1);
    text-align: center; /* Center text horizontally */
    display: flex;
    align-items: center; /* Center text vertically */
  }
  
  /* for testing purposed to ensure the animation lined up correctly */
  .test {
    background: red !important;
  }
/*TEXT WORK----------------------------------------------------------------------------------*/

/* Add responsive styles for smaller screens */
@media (max-width: 600px) {
    .content {
        padding: 10px;
    }
}

/* Slider Content---------------------------------------------------------------------------*/

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slides {
    display: flex;
    justify-content: center;
}
.slide {
    position: relative;
    height: 500px; /* Set a fixed height for the slide container */
    overflow: hidden; /* Ensure images don't overflow the container */
}
.slider img{
    width: 100%;
    height: 100%; /* Make sure images take the full height of the slide container */
    object-fit: contain; /* Maintain aspect ratio and cover the entire container */
    display: none;
}
.slide img.displaySlide{
    display: block; 
    animation-name: fade;
    animation-duration: 1.5s;
}
.text-container {
    width: 100%;
    text-align: center;
    position:absolute;
    bottom: 0;
}
.slide-text {
    background: var(--color-dark-50alpha); /* Semi-transparent background */
    color: var(--color-light);
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    position: relative; /* Change to relative */
    top: 0; /* Add this line to reset top position */
    font-size: clamp(10px, 14px, 20px); /* Adjust the base font size */
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: var(--color-dark-50alpha);
    color: var(--color-accent-1);
    border: none;
    cursor: pointer;
}
.previous{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .slide {
        height: 300px; /* Set a fixed height for the slide container on smaller screens */
    }

    .text-container {
        position: relative; /* Adjust positioning for smaller screens */
        margin-top: 5px; /* Add margin to separate text from image */
    }
}

/* Compositions Page Styles####################################################################*/
/* Headings ------------------------------------------- */
.h3-with-line {
    position: relative;
    margin-top: 20px; /* Adjust the margin-top to add space between the line and text */
    margin-bottom: 9px; /* Adjust the value to control the space below */
}

.h3-with-line::before {
    content: "";
    display: block;
    position: absolute;
    top: -8px; /* Adjust this value to move the line above the text */
    left: 50%;
    transform: translateX(-50%);
    width: 100%; /* Adjust the width of the line as needed */
    height: 3px; /* Adjust the thickness of the line as needed */
    background-color: var(--color-accent-1); /* Set the line color */
}

/* Tag Button Styling----------------------------------- */
.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Add this line to enable wrapping */
}

.tag-button {
    font-family: "english_body", sans-serif;
    padding: 6px 15px;
    margin: 5px;
    background-color: var(--color-accent-1);
    color: var(--color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.7s ease, color 0.5s ease;
    font-weight: bold; /* Add this line to bold the text */
}

.tag-button:hover {
    background-color: var(--color-dark);
    box-shadow: 0 4px 8px var(--color-accent-1); /* Add box shadow for active state */
}

.tag-button.active {
    background-color: var(--color-light);
    color: var(--color-dark);
    box-shadow: 0 4px 8px var(--color-accent-1); /* Add box shadow for active state */
}
/*Youtube Video Responsive Maker-------------------------*/

.iframe-size-limiter {
    display: flex;
    justify-content: center;
    max-width: 560px;
    margin: auto;
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 20px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Read More Button ------------------------------------- */
.read-more-btn {
    font-family: "english_body", sans-serif;
    padding: 6px 15px;
    margin: 5px;
    background-color: var(--color-accent-1);
    color: var(--color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, box-shadow 0.7s ease, color 0.5s ease;
    font-weight: bold; /* Add this line to bold the text */
}

/* Hover state */
.read-more-btn:hover {
    background-color: var(--color-dark);
    box-shadow: 0 4px 8px var(--color-accent-1); /* Add box shadow for active state */
}

/* Active and Show Less state */
.read-more-btn.active,
.read-more-btn[data-show="less"] {
    background-color: var(--color-light);
    color: var(--color-dark);
    box-shadow: 0 4px 8px var(--color-accent-1); /* Add box shadow for active state */
}

/* Style for the content revealed by Read More */
.read-more-content {
    margin-top: 0px;
    padding: 10px;
    background-color: var(--color-light);
    border-radius: 4px;
    color: var(--color-accent-1);
}

/* Shorts Collage ----------------------------------------------------------------------*/

/* Calendar Page #######################################################################*/
.responsive-image {
    width: 60%;
    display: block;
    margin: 0 auto; /* Center the image */
}

@media (max-width: 768px) {
    .responsive-image {
        width: 100%;
    }
}

/* Contact Page ########################################################################*/
/* Icons -------------------------------------------------------------------------------*/
.social-icons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.social-icon-yt {
    color: var(--color-accent-1);
    font-size: 5em; /* Adjust the font size to make the icons larger */
    margin: 0 10px; /* Adjust the margin for spacing between icons */
    transition: color 0.2s;
    text-decoration: none;
}
.social-icon-yt:hover {
    color: #FF0000;
}
.social-icon-li {
    color: var(--color-accent-1);
    font-size: 5em; /* Adjust the font size to make the icons larger */
    margin: 0 10px; /* Adjust the margin for spacing between icons */
    transition: color 0.2s;
    text-decoration: none;
}
.social-icon-li:hover {
    color: #0072b1;
}
.social-icon-gh {
    color: var(--color-accent-1);
    font-size: 5em; /* Adjust the font size to make the icons larger */
    margin: 0 10px; /* Adjust the margin for spacing between icons */
    transition: color 0.2s;
    text-decoration: none;
}
.social-icon-gh:hover {
    color: #333;
}
.social-icon-fb {
    color: var(--color-accent-1);
    font-size: 5em; /* Adjust the font size to make the icons larger */
    margin: 0 10px; /* Adjust the margin for spacing between icons */
    transition: color 0.2s;
    text-decoration: none;
}
.social-icon-fb:hover {
    color: #006AFF;
}
.social-icon-em {
    color: var(--color-accent-1);
    font-size: 5em; /* Adjust the font size to make the icons larger */
    margin: 0 10px; /* Adjust the margin for spacing between icons */
    transition: color 0.2s;
    text-decoration: none;
}
.social-icon-em:hover {
    color: var(--color-dark);
}
.social-icon-ig {
    color: var(--color-accent-1);
    font-size: 5em; /* Adjust the font size to make the icons larger */
    margin: 0 10pgx; /* Adjust the margin for spacing between icons */
    transition: color 0.2s;
    text-decoration: none;
}
.social-icon-ig:hover {
    color: #833AB4;
}


@media (max-width: 600px) {
    /* Adjust the size for smaller screens */
    .social-icon-yt {
        font-size: 2.3em;
    }
    .social-icon-li {
        font-size: 2.3em;
    }
    .social-icon-ig {
        font-size: 2.3em;
    }
    .social-icon-gh {
        font-size: 2.3em;
    }
    .social-icon-fb {
        font-size: 2.3em;
    }
    .social-icon-em {
        font-size: 2.3em;
    }
}
/* Contact Form ------------------------------------------------------------------------*/
.contact-form-container {
    background-color: var(--color-dark);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--color-accent-1);
    overflow: hidden;
}

.contact-form {
    padding: 20px;
}

.contact-form h2 {
    text-align: center;
    color: var(--color-light);
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    color: var(--color-light);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid var(--color-accent-1); /* Add a border */
    border-radius: 4px;
    background-color: var(--color-light); /* Set background color */
    color: var(--color-dark); /* Set text color */
    outline: none; /* Remove default input focus outline */
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--color-accent-1); /* Change border color on focus */
}
/* Customize placeholder text color */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--color-light);
}

.contact-form textarea {
    font-family: 'Helvetica', Arial, sans-serif; /* Use a specific font for the textarea */
    line-height: 1.6; /* Adjust line height for better readability */
}
.contact-form button {
    font-family: Helvetica, Helvetica, sans-serif;
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 10px 15px;
    border: 1px solid var(--color-accent-1); /* Add a border */
    border-radius: 4px;
    background-color: var(--color-light); /* Set background color */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: var(--color-accent-1);
    color: var(--color-light);
}
.contact-form-container .additional-text {
    color: var(--color-light);
    padding: 20px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: -10px; /* Adjust the margin to control the spacing between the title and additional text */
}
